.playground {  
    width: 50%;  
    height: 50%;  
    margin: auto;  
}  

body, html, .root {  
    height: 100%;  
}  

.ball {  
    background-color: black;  
    box-shadow: 0 10px 10px -6px;  
    position: absolute; /* Allows the ball to move freely within the playground */  
    height: 50px;  
    width: 50px;  
    border-radius: 25px;  
    transition: left 0.1s; /* Smooth transition for movement */  
}
